@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/fonts.scss';

.container-fluid {
    height: 100vh;
}

.title-grid {
    font-family: $Roche-Sans-Medium;
    font-size: 20px;
    color: $roche-grey-900;
}

.gip-chat-btn {
    background-color: $roche-blue-primary;
    border-color: $roche-blue-primary;
    span:nth-child(1) {
        content: url("../../../../../../assets/images/chat-icon.svg");
    }
    span:nth-child(2) {
        font-family: $Roche-Sans-Medium;
        font-size: 16px;
    }
    span:nth-child(3) {
        font-family: $Roche-Sans-Light;
        font-size: 16px;
    }
}

.filter-btn {
    content: url("../../../../../../assets/images/filter.svg");
    cursor: pointer;
}

.align-container-items {
    display: flex;
    width: max-content;
}

.align-center{
    align-self: center;
}

.align-filter-badges {
    flex-grow: 1;
    justify-content: flex-end;
   display: flex;
}

.filter-list-label { 
    cursor: pointer;
}

.scroll-bar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
 
.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #bababa;
}

.badge-align {
    background: $roche-blue-100;
    border-radius: 19px;
    color: $roche-blue-500;
    font-family: $Roche-Sans-Regular;
    height: 27px;margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}


.badge-align-value{
    font-family: $Roche-Sans-Medium;
}
