<div class="login-container">
    <div class="left-side">
        <div class="align-content-right">
        <img class="logo-img" src="../assets/images/roche_logo.svg" alt="Logo" width="81.223" height="42.609">
        <div class="align-content">
            <h1>GIP</h1>
            <p class="align-paragraph">Medical Imaging Platform enabling <br> <b>development</b>, <b>training</b>, and
                <b>deployment</b> <br>of portable medical imaging algorithms, for <br>pre-clinical and clinical studies
                leveraging<br> multi-modal data products.</p>
            <a kendoButton class="k-button k-primary btn-alignment" (click)="onLoginWithSSO()">
                <label class="btn-label">Login to GIP with SSO</label>
            </a>
        </div>
        <hr class="horizontal-line">
        <div class="container-link">
            <div> <a class="align-link-label">Request Access</a> </div>
            <div> <img class="img-arrow-align" src="../assets/images/arrow_right.svg" alt="navigationArrow"></div>
            <div> <a class="align-link-label">Help</a> </div>
            <div> <img class="img-arrow-align" src="../assets/images/arrow_right.svg" alt="navigationArrow"></div>
        </div>
        </div>
    </div>
    <div class="right-side">
        <img src="../assets/images/rightPanelLoginImage.png" alt="right-panel-login-image" class="image-align">
    </div>
</div>