<div class="criteria-container">
    <div class="criteria-header">
        <span class="py-2 text-center">Inclusion Criteria</span>
        <span class="py-2 text-center">Exclusion Criteria</span>
    </div>

    <div class="criteria-grid">
        <!-- Inclusion Criteria Section -->
        <div class="criteria-section">
            <span class="no-criteria text-center py-4" *ngIf="inclusionCriteria.length===0; else inclusionTemplate">No Criteria Applied</span>
            <ng-template #inclusionTemplate>
                <ng-container *ngFor="let criteria of inclusionCriteria">
                    <div class="criteria-item px-2">
                        <span class="criteria-label">{{criteria.label}}</span>
                        <span class="criteria-value">{{criteria.value}}</span>
                    </div>
                </ng-container>
            </ng-template>
        </div>

        <!-- Exclusion Criteria Section -->
        <div class="criteria-section">
            <span class="no-criteria text-center py-4" *ngIf="exclusionCriteria.length===0; else exclusionTemplate">No Criteria Applied</span>
            <ng-template #exclusionTemplate>
                <ng-container *ngFor="let criteria of exclusionCriteria">
                    <div class="criteria-item px-2">
                        <span class="criteria-label">{{criteria.label}}</span>
                        <span class="criteria-value">{{criteria.value}}</span>
                    </div>
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>