@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.header {
  grid-area: header;
  padding: 0;
  z-index: 0;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  overflow-x: auto;
}

kendo-loader {
  position: fixed;
  color: $roche-blue-primary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}