@font-face {
    font-family: "Roche Sans Bold";
    src: url("../assets/fonts/Web/RocheSans-Bold.ttf");
}

@font-face {
    font-family: "Roche Sans Bold Italic";
    src: url("../assets/fonts/Web/RocheSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Roche Sans Italic";
    src: url("../assets/fonts/Web/RocheSans-Italic.ttf");
}

@font-face {
    font-family: "Roche Sans Light";
    src: url("../assets/fonts/Web/RocheSans-Light.ttf");
}

@font-face {
    font-family: "Roche Sans Light Italic";
    src: url("../assets/fonts/Web/RocheSans-LightItalic.ttf");
}

@font-face {
    font-family: "Roche Sans Medium";
    src: url("../assets/fonts/Web/RocheSans-Medium.ttf");
}

@font-face {
    font-family: "Roche Sans Medium Italic";
    src: url("../assets/fonts/Web/RocheSans-MediumItalic.ttf");
}

@font-face {
    font-family: "Roche Sans Regular";
    src: url("../assets/fonts/Web/RocheSans-Regular.ttf");
}

@font-face {
    font-family: "Roche Sans Condensed Italic";
    src: url("../assets/fonts/Web/RocheSansCondensed-Italic.ttf");
}

@font-face {
    font-family: "Roche Sans Condensed Light";
    src: url("../assets/fonts/Web/RocheSansCondensed-Light.ttf");
}

@font-face {
    font-family: "Roche Sans Condensed Regular";
    src: url("../assets/fonts/Web/RocheSansCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roche Serif Bold";
    src: url("../assets/fonts/Web/RocheSerif-Bold.ttf");
}

@font-face {
    font-family: "Roche Serif Italic";
    src: url("../assets/fonts/Web/RocheSerif-Italic.ttf");
}

@font-face {
    font-family: "Roche Serif Light";
    src: url("../assets/fonts/Web/RocheSerif-Light.ttf");
}

@font-face {
    font-family: "Roche Serif Light Italic";
    src: url("../assets/fonts/Web/RocheSerif-LightItalic.ttf");
}

@font-face {
    font-family: "Roche Serif Regular";
    src: url("../assets/fonts/Web/RocheSerif-Regular.ttf");
}

$Roche-Sans-Bold: "Roche Sans Bold";
$Roche-Sans-Bold-Italic: "Roche Sans Bold Italic";
$Roche-Sans-Italic: "Roche Sans Italic";
$Roche-Sans-Light: "Roche Sans Light";
$Roche-Sans-Light-Italic: "Roche Sans Light Italic";
$Roche-Sans-Medium: "Roche Sans Medium";
$Roche-Sans-Medium-Italic: "Roche Sans Medium Italic";
$Roche-Sans-Regular: "Roche Sans Regular";
$Roche-Sans-Condensed-Italic: "Roche Sans Condensed Italic";
$Roche-Sans-Condensed-Light: "Roche Sans Condensed Light";
$Roche-Sans-Condensed-Regular: "Roche Sans Condensed Regular";
$Roche-Serif-Bold: "Roche Serif Bold";
$Roche-Serif-Italic: "Roche Serif Italic";
$Roche-Serif-Light: "Roche Serif Light";
$Roche-Serif-Light-Italic: "Roche Serif Light Italic";
$Roche-Serif-Regular: "Roche Serif Regular";