// Colors
$roche-background: #FFFFFF;
$roche-blue-primary: #0B41CD;
$roche-blue-light: #90ABF1;
$roche-dark-blue: #022366;
$roche-blue-50: #F0F4FD;
$roche-blue-100: #D7E0F7;
$roche-blue-200: #AEC0EE;
$roche-grey-3: #C2BAB5;
$roche-border: #DBD6D1;
$roche-grey-900: #21201F;
$roche-grey-5-hover: #F5F5F2;
$roche-shadow: #0D1F331F;
$roche-grey-700: #544F4F;
$roche-light-pink-blue: #FFF7F5;
$roche-sky-blue: #BDE3FF;
$roche-dark-blue: #011745;
$roche-grey-400: #C2BAB5;
$roche-yellow-100: #FEF0C4;
$roche-grey-600: #706B69;
$roche-grey-900: #21201F;
$roche-light-black: #000000E6;
$roche-black-100: #00000014;
$roche-brown-100: #9E948E;
$roche-grey-800:#312F2E;
$roche-box-shadow: #0000001F;
$roche-neutral-pink: #FAD6C7;
$roche-grey-200: #EAE8E5;
$roche-blue-500:#0936AB;
$roche-yellow-500: #E9B519;
$roche-grey-disabled: #9D948E;
$roche-yellow-200: #FFF7DF;
$roche-green-200: #CBEDE8;
$roche-red-100: #CC0033;
$roche-red-500: #CB1F34; 
$roche-naming-convention-800 : #8A8787;
