@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/fonts.scss';


::ng-deep .k-dialog-titlebar {
  background: #fff;
  border: none !important;
}


.custom-dialog-title {
  display: flex;
  align-items: center;
}

.custom-dialog-title .close-icon {
  margin-left: 1%;
  cursor: pointer;
  margin-right: 8px;
}

.dialog-title {
  margin: 0;
  width: 100%;
  margin-left: 3%;
  font-size: 17px;
  font-family: $Roche-Sans-Medium;
}

.card-container {
  justify-content: center;

  .ard-dev-text {
    font-family: $Roche-Sans-Light;
    font-size: 14px;
  }
}

.workflow-card {
  width: 180px;
  height: 110px;
  text-align: center;
  margin-left: 5px;
  background-color: $roche-background;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $roche-box-shadow;
  cursor: pointer;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  border: 2px solid transparent;
  margin-right: 10px;
  display: flex;
}

.workflow-card:hover {
  border-color: $roche-blue-primary;
}

.workflow-card:active {
  background-color: $roche-blue-primary !important;

  div>.workflow-card-name {
    color: $roche-background;
  }

  div>.workflow-card-icon>img {
    filter: brightness(0) invert(1);
  }
}

.workflow-card.selected {
  background-color: $roche-blue-primary !important;

  div>.workflow-card-name {
    color: $roche-background;
  }

  div>.workflow-card-icon>img {
    filter: brightness(0) invert(1);
  }
}

.workflow-card:hover {
  border: 2px solid $roche-blue-primary;
}

.workflow-card-name {
  font-family: $Roche-Sans-Regular;
  font-size: 16px;
  color: $roche-blue-primary;
  text-align: left;
  white-space: pre-line;

  .card-names {
    font-family: $Roche-Sans-Regular;
  }
}

.info-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 14px;
}

::ng-deep .k-tabstrip-content.k-active,
.k-tabstrip>.k-content.k-active {
  display: none !important;
}

::ng-deep .k-tabstrip-top>.k-tabstrip-items-wrapper {
  border-bottom: none !important;
  height: 135px;
}
