@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

::ng-deep {

  .k-toolbar {
    display: inline;
  }

  .k-grid .k-grid-header {
    background-color: #F5F5F2 !important;
    border-bottom-width: 2px;
    border-bottom-color: #0841CD;
  }

  .k-grid .k-table-th,
  .k-grid td,
  .k-grid .k-table-td {
    border-inline-start-width: 0px;
    font-size: 14px;
    font-family: $Roche-Sans-Regular;
    color: $roche-grey-900;
    opacity: 1;
  }

  .k-grid .k-table-th:first-child,
  .k-grid td:first-child,
  .k-grid .k-table-td:first-child {
    border-inline-end-width: 1.5px;
  }

/* When the checkbox column is NOT present */
.no-checkbox .k-grid .k-table-th:first-child,
.no-checkbox .k-grid td:first-child,
.no-checkbox .k-grid .k-table-td:first-child {
    border-inline-end-width: 0;
}

  .k-grid .k-table-row.k-table-alt-row {
    background-color: color-mix(in srgb, #f8f8f8 5%, transparent);
  }

  .k-table-thead,
  .k-table-header,
  .k-grid-header-sticky {
    background-color: #F5F5F2 !important;
  }

  kendo-grid.k-grid .k-grid-content-sticky {
    border-block-start-width: 1.2px;
    border-block-end-width: 1.2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.15);
    display: flex;
    justify-content: flex-end;
  }

  kendo-grid.k-grid .k-table-alt-row .k-grid-content-sticky {
    background-color: color-mix(in srgb, #f8f8f8 5%, $roche-background);
    // display: flex;
    // justify-content: flex-end;
  }

  kendo-grid.k-grid .k-table-row.k-selected .k-grid-content-sticky::before{
    background-color: color-mix(in srgb, #f8f8f8 5%, $roche-background);
  }

  kendo-grid.k-grid .k-table-row.k-selected.k-table-alt-row .k-grid-content-sticky::before {
    background-color: color-mix(in srgb, #f8f8f8 5%, $roche-background);
  }

  kendo-grid.k-grid .k-table-row.k-selected:hover .k-grid-content-sticky::before {
    background-color: color-mix(in srgb, #f8f8f8 5%, $roche-background);
  }

  kendo-grid.k-grid .k-table-row.k-selected.k-table-alt-row:hover .k-grid-content-sticky::before {
    background-color: color-mix(in srgb, #f8f8f8 5%, $roche-background);
  }

  .k-toolbar-md {
    padding-block: 0px;
  }

  .k-checkbox {
    border-color: rgb(0 0 0 / 77%);
    background-color: var(--kendo-color-surface-alt, #fff);
  }

  .k-table,
  .k-data-table {
    border-color: rgb(59 59 59 / 76%);
    color: var(--kendo-color-on-app-surface, #3d3d3d);
    background-color: var(--kendo-color-surface-alt, #fff);
  }

  .k-grid-pager {
    display: none;
  }

  .k-grid-header .k-sort-icon,
  .k-grid-header .k-sort-order {
    color: $roche-blue-primary;
  }

  .k-column-title {
    font-size: 14px;
    font-family: $Roche-Sans-Regular;
    color: $roche-grey-900;
  }

  .k-checkbox {
    border-color: $roche-grey-900 !important;

  }
  .k-grid .k-table-td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  
  .k-grid td.k-selected,
  .k-grid .k-table-row.k-selected>td,
  .k-grid .k-table-td.k-selected,
  .k-grid .k-table-row.k-selected>.k-table-td {
    background-color: $roche-background !important;

  }

  .k-grid tr {
    outline: $roche-border solid 1px;
  }

  .k-table-tbody .k-table-row.k-selected>.k-table-td,
  .k-table-list .k-table-row.k-selected {
    background-color: $roche-background !important;
  }

  .k-grid .k-grid-md .k-table-th:first-child>.k-cell-inner>.k-link,
  .k-grid-md .k-table-th:first-child>.k-cell-inner>.k-link {
    display: block
  }

  .k-checkbox:indeterminate,
  .k-checkbox.indeterminate {
    background-image: transparent url('/assets/images/indeterminate.svg') 0% 0% no-repeat padding-box;
    color: whitesmoke;
    background-color: $roche-blue-primary;
    opacity: 1;
  }

  .k-checkbox:checked,
  .k-checkbox.checked {
    color: whitesmoke;
    background-color: $roche-blue-primary;
    opacity: 1;
  }

  // ::-webkit-scrollbar
  // {
  //   width: 12px;
  //   background-color: #F5F5F5;
  // }
 
  // ::-webkit-scrollbar-thumb
  // {
  //   border-radius: 10px;
  //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  //   background-color: #bababa;
  // }
}

.study-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 10px;
}

.k-icon {
  height: 22px;
  // width: 12px;
  width:280px;
}

.pagination {
  font-size: 12px;
  font-family: $Roche-Sans-Medium;
  color: $roche-grey-800;
  opacity: 1;
}

.pagination-info {
  font-size: 12px;
  font-family: $Roche-Sans-Light;
  color: $roche-grey-800;
  opacity: 1;
}

 [class^="three-dot-"] {
 content: url(../../../../assets/images/three-dots.svg);
 cursor: pointer;
}
[class^="custom-icon-"] {
  content: url(../../../../assets/images/folder.svg);
  cursor: pointer;
 }
 


::ng-deep .access-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: $roche-blue-100;
  color: $roche-blue-primary;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  margin-left: -4px;
  border: 1px solid $roche-background;
}

.dash {
  justify-content: center !important;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.access-denied {
  color: $roche-grey-disabled;
}

.requested {
  color: $roche-yellow-500;
}


.request-status-align {
  color: $roche-blue-primary;
  font-size: 12px;
  margin-bottom: auto;
}

.requested-status-align{
  background-color: $roche-yellow-100;
  color: $roche-grey-900;
  border-radius: 10px;
  margin-bottom: auto;
  font-size: 12px;
}

.align-status-bg {
  margin-left: 12px;
   margin-right: 12px;
}

#my-grid tr.disableRowClass {
  color: grey;
}

.access-granted-grid-selected {
  color: $roche-background;
  background-color: $roche-blue-primary;
  border-radius: 10px;
  font-family: $Roche-Sans-Regular;
  margin-left: 3px;
  margin-right: 3px;
}

.request-grid-selected {
  color: $roche-red-100;
  text-decoration: line-through;
}


.align-dataSources {
  margin-left: 5px;
  margin-right: 5px;
}

.k-checkbox:indeterminate, .k-checkbox.k-indeterminate {
  background-image: url('../../../../assets/images/checkbox-indeterminate.svg');
}

.yellow-flag {
  background-color: #fff3cd;
  color: #856404;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
.red-flag {
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
.blue-flag {
  background-color: #cce5ff;
  color: #004085;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.yellow-icon {
  color: #ffc107; /* Yellow */
}
.red-icon {
  color: #dc3545; /* Red */
}
.blue-icon {
  color: #007bff; /* Blue */
}

.user-flag {
  padding: 5px;
  font-weight: bold;
}