<div class="row table-actions ">
    <div class="col-2 ml-3 p-0">
        <div class="gear-icon">
            <img class="pe-2 ml-3" src="../assets/images/settings-gear.svg" alt="gear" (click)="openWorkflow()"
            #gear>
    
          <kendo-popup #popup class="gear-menu" *ngIf="isColumnMenuVisible" [anchor]="gear" [animate]="false"
              [anchorAlign]="{ vertical: 'bottom', horizontal: 'left' }" (close)="isColumnMenuVisible = false">
              <div class="popup-menu scroll-bar table-details mx-2">
                  <div class="title pt-3">
                      <p class="mb-0 fw-bold">Table columns</p>
                  </div>
                  <div class="scroll-bar fields">
                      <ng-container *ngFor="let selectCol of tableDropdownList; let last=last">
                          <p class="py-2 m-0">
                              <kendo-checkbox [(ngModel)]="selectCol.checked" (change)="onCheckboxClick()"></kendo-checkbox>
                              <label class="ps-2 pt-1">{{selectCol.name}}</label>
                          </p>
                          <hr class="horizontal-separator" *ngIf="!last">
                      </ng-container>
                    </div>          
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="d-flex align-items-center btn-menu mt-3 mb-3">
                            <button kendoButton class="btn btn-sm reset" (click)="resetSelection()">Reset</button> 
                            <button kendoButton class="btn btn-primary btn-sm" [disabled]="!isAnyCheckboxSelected" (click)="applySelection()">Apply</button>
                        </div>
                      </div>
                    </div>         
              </div>
          </kendo-popup>
        </div>
    </div>
   
  </div>